<!DOCTYPE html>
<html>

<head>
    <title>Client dialer</title>
    <!-- Dialer CSS supplied by https://codepen.io/virelli/pen/mnhgd-->
    <script type="text/javascript"
    src="//media.twiliocdn.com/sdk/js/client/v1.5/twilio.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".key").on("click", function () {
                var $theValue = $(this).attr("rel");
                
                if ($theValue == "c" || $theValue == "h") {
                        //do nothing as the call or end buttons were pressed
                }else if(Twilio.Device.status() =="busy"){
                    sendDigit($theValue);
                }
                else {
                    //update the number box to include the digits pressed
                    numberbox = document.getElementById('number');
                    numberbox.value = numberbox.value + $theValue;
                   
                }
            });
        });
    </script>

    <script type="text/javascript">

        Twilio.Device.setup("{{ token }}");

        Twilio.Device.ready(function (device) {
            $("#log").text("Ready to dial");
        });

        Twilio.Device.error(function (error) {
            $("#log").text("Error: " + error.message);
        });

        Twilio.Device.connect(function (conn) {
            $("#log").text("Successfully established call");
        });

        Twilio.Device.disconnect(function (conn) {
            $("#log").text("Call ended");
        });
        
        // Twilio.Device.on('disconnect', function(conn) {
        //  // conn is a Twilio.Connection object
        //  $("#log").text("Call ended");
        // });

        Twilio.Device.incoming(function (conn) {
            $("#log").text("Incoming connection from " + conn.parameters.From);
            // accept the incoming connection and start two-way audio
            conn.accept();
        });


        function call() {
            // get the phone number or client to connect the call to
            params = { "PhoneNumber": $("#number").val() };
            Twilio.Device.connect(params);

        }

        function hangup() {
          
            Twilio.Device.disconnectAll();

        }

        function sendDigit(digit) {
            Twilio.Device.activeConnection().sendDigits(digit);
        }


    </script>
</head>

<body>

    <div id="phone">


        <div id="wrapper">
            <h1 style="text-align: center">Trainee Dialer</h1>
            <div style="text-align:center; margin-left:5px; margin-bottom:15px;">
                <div id="log" style="font-family: 'Courier New', Courier, monospace;  text-align:center; margin-left:5px; margin-bottom:15px;"></div>
                <textarea style="font-family: 'Courier New', Courier, monospace; height:30px; text-align:center; width:250px; font-size: 18pt"
                    id="number" name="number">+</textarea>

                <ul id="people" />
            </div>
            <div class="key" rel="1">1</div>
            <div class="key" rel="2">2<span>abc</span></div>
            <div class="key" rel="3">3<span>def</span></div>
            <div class="clear"></div>
            <div class="key" rel="4">4<span>ghi</span></div>
            <div class="key" rel="5">5<span>jkl</span></div>
            <div class="key" rel="6">6<span>mno</span></div>
            <div class="clear"></div>
            <div class="key" rel="7">7<span>pqrs</span></div>
            <div class="key" rel="8">8<span>tuv</span></div>
            <div class="key" rel="9">9<span>wxyz</span></div>
            <div class="clear"></div>
            <div class="key special" rel="*">*</div>
            <div class="key" rel="0">0<span>oper</span></div>
            <div class="key special" rel="#">#</div>
            <div class="clear"></div>
            <div class="key nb"></div>
            <div class="key phone" rel="c" onclick="call();">C</div>
            <div class="key phone" rel="h" style="background:rgb(219, 92, 92);" onclick="hangup();">H</div>
            <div class="key nb"></div>
            <div class="clear"></div>

        </div>

    </div>

</body>

</html>